<%= provide(:title, "#{@user.username}") %>
<%= render 'shared/content_title', title: "Profile for: #{@user.username}" %>


<div class='well'>
	<h4>Username: <%= @user.username %> </h4>
</div>

<h4><%= @user.username %>'s Activity: </h4>

<h4>Time Zone: </h4>
<h4><%= @user.time_zone %></h4>


<ul class='nav nav-tabs'>
	<li class='<%= 'active' if params[:tab].nil? %>' >
		<%= link_to "Posts (#{@user.posts.size})", user_path(@user, tab: 'posts') %>
	</li>
	<li class='<%= 'active' if params[:tab]== 'comments' %>' >
		<%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
	</li>
</ul>

<% if params[:tab].nil? ||  params[:tab] == 'posts'%>
	<% @user.posts.sort_by{|x| x.total_votes}.reverse.each do |post| %>
		

		<div class='span0 well text-center'> 
    <!--Makes the vote post path into a POST (there is a form built into the javascript) -->
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <span id='post_<%= post.id %>_votes'><%= post.total_votes %> votes</span>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>

  <%= render 'posts/post', post: post %>

	<% end %>

<% elsif params[:tab] == 'comments' %>
	<% @user.comments.sort_by{|x| x.total_votes}.reverse.each do |comment| %>
		<%= render 'comments/comment', comment: comment, show_post: true %>
	<% end %>
<% end %>
