<div class='row'>
  <div class='span8 well'>
    <%= render post.categories %>
  
    </br>
    <%= image_tag post.image.url(:thumb), style: "float:left;padding-right:15px;padding-top:20px;padding-bottom:20px;padding-left:20px;" %>


    <h3><%= link_to post.url, fix_url(post.url) %></h3>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
      <span>
     
      </span>
    </small>
  </div>
</div>