<%= provide(:title, 'welcome') %>
<%= render 'shared/content_title', title: 'welcome! here are the posts:' %>

<% @post.each do |post| %>
  <% if logged_in? == true %>
  <div class='span0 well text-center'> 
    <!--Makes the vote post path into a POST (there is a form built into the javascript) -->
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    <br/>
    <%= post.total_votes %>
    <br/>
    <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>

  <%= render "posts/post", post: post, show_post: true %>
 
 <% else %>

 <%= render "posts/post", post: post, show_post: true %>

 <% end %>

<% end %>
