<%= provide(:title, "#{@post.title}") %>
<%= render 'shared/content_title', title: 'Selected post:' %>

<div class='well'>
	<h3><%= @post.title %></h3>
	<h5><%= @post.url %></h5>
	<p><%= @post.description %></p>
	<p>by <%= @post.creator.username %></p>
	<% if (logged_in? == true && @post.creator == current_user) %>
		<table>
	  	<tr>
	    	<th><%= link_to 'Edit', edit_post_path %> </th>
	  	</tr>
		</table>
	<% end %>
</div>

<h5>Comments:</h5>
<!-- .reload for slug -->
<% @post.reload.comments.sort_by{|x| x.total_votes}.reverse.each do |comment| %>
	<%= render "comments/comment", comment: comment, show_post: false %>
<% end %>


<div class='well pull-left span5'>
	<%= render "comments/form" %>
</div>



