<%= provide(:title, 'show') %>
<%= render 'shared/content_title', title: 'selected post:' %>

<p><%= @post.title %></p>
<p><%= @post.url %></p>
<p><%= @post.description %></p>

<table>
     <tr>
       <th><%= link_to 'edit this post', edit_post_path %> / </th>
     </tr>
</table>

<p>----------------------</p>

<p>comments:</p>
<% @post.comments.each do |comment| %>
	<%= render "comments/comment", comment: comment, show_post: false %>
<% end %>

<p>----------------------</p>

<p>Add a comment:</p>
<%= render "comments/form" %>




