<%= provide(:title, "#{@category.name}") %>
<%= render 'shared/content_title', title: "showing category: #{@category.name}" %>

<% @category.posts.each do |p| %>
	<ul>
		<p>creator: <%= p.creator.username %></p>
		<p>title: <%= p.title %></p>
		<p>description: <%= p.description %></p>
	</ul>

  <table>
    <tr>
      <th><%= link_to 'show this post:', post_path(p.id) %> / </th>
      <th><%= link_to 'Edit this post:', edit_post_path(p.id) %> / </th>
    </tr>
  </table>

  <p> -------- </p>
<% end %>